/* ← Tailwind を最優先で読み込む */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ← その後に既存の CSS を置く */
@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(160, 100%, 37%);
  transition: 0.45s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
  }
}
